upstream backend {
  server backend:8000 fail_timeout=0;
}

server {
    listen 80;
    server_name ${HOST_NAME};
    location / {
        return 301 https://${DOLLAR}host${DOLLAR}request_uri;
    }
}
server {
    listen 443 ssl;
    server_name ${HOST_NAME};

    ssl_certificate /etc/letsencrypt/live/${HOST_NAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${HOST_NAME}/privkey.pem;

    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    location /backend {
        proxy_pass http://backend;
    }

    location / {
        proxy_pass http://frontend;
    }

}
